name: build

on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  test:

    needs: build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        perl: [ '5.28', '5.30' ]

    name: Perl ${{ matrix.python }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
      - name: Log perl information
        run: perl -V
      - name: Install dependencies
        run: cd build && cpanm --installdeps --with-all-features . && cpanm install Net::Upwork::API
      # run test
      - run: ./Build test
